<header class="header-landing" role="banner">
  <section class="header-landing__brand">
    <a href="/">
      <h1 class="header-title">
        {{ site.title }}
      </h1>
    </a>
    <h2 class="header-subtitle">
      {{ site.subtitle }}
    </h2>
  </section>
  <section class="header-landing__navigation">
    <input type="checkbox" class="header-landing__checkbox" id="navi-toggle">
    <label for="navi-toggle" class="header-landing__navigation-button">
      <span class="header-landing__navigation-icon">&nbsp;</span>
    </label>

    <nav class="header-landing__navigation-nav">
      <a href="/" class="header-landing__navigation-link">Página Inicial</a>
    </nav>
  </section>
</header>