<div class="profile profile--home">
  <div class="profile__body">
    <picture class="profile__figure">
      <source srcset="assets/img/lg/avatar-sm.png, assets/img/lg/avatar-lg.png" media="(min-width: 48em)">
      <img class="profile__avatar-img" srcset="assets/img/lg/avatar-sm.png, assets/img/lg/avatar-lg.png" src="assets/img/lg/avatar-lg.png">
    </picture>


    <h1 class="profile__title profile__title--home">
      {{ site.title }}
    </h1>
    <p class="profile__subtitle profile__subtitle--home">
      {{ site.subtitle }}
    </p>
    <div class="profile__social-media">
      {%- include social-media-nav.html -%}
    </div>
  </div>
  <footer class="profile__footer profile__footer--home">
    <p class="profile__social-email">
      {{site.email}}
    </p>
    <div class="profile__projects-link">
      <a class="profile__projects-link-a" href="#projects"><i class="icon icon-left-open"></i></a>
    </div>
  </footer>
</div>