<div class="profile">
  <figure class="profile__figure ">
    <img class="profile__avatar-img" src="../{{'assets/img/lg/avatar-sm.png'}}" alt="">
  </figure>
  <h1 class="profile__title profile__title--project">
    {{ site.title }}
  </h1>
  <p class="profile__subtitle profile__subtitle--project">
    {{ site.subtitle }}
  </p>
  <div class="profile__social-media">
    {%- include social-media-nav.html -%}
  </div>
  <footer class="profile__footer profile__footer--project ">
    jeffersondesouzacordel&#64;gemail.com
  </footer>
</div>