<ul class="projects-list">
    {% for project in site.projects %}
    <li class="project">
        <h2 class="project__title">
            {{project.title}}
        </h2>
        <figure class="project__img">
            <img src="{{project.img}}" alt="{{project.altimg}}">
        </figure>
        <ul class="project__tecs">
            {% for tec in project.tecs %}
            <li class="project__tecs-item" title="{{tec.name}}">
                <figure class="project__tec">
                    <img class="project__tec-img" src="{{tec.img}}" alt="{{tec.name}}">
                    <figcaption class="project__tec-img-caption">
                        {{tec.name}}
                    </figcaption>
                </figure>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>