.home-page {
  background-color: $color-secondary;
  min-height: 100vh;
  @include respond(tab) {
    display: flex;
  }
}

.header {
  background-color: $color-primary;
  color: $white;
  @include respond(tab) {
    flex: 1;
    position: relative;
    transition: all .3s ease-out;
    animation: home-page-init-header .3s ease-out;
  }
  &__info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    @include respond(tab) {
      position: fixed;
      flex-direction: row;
      width: 33.33%;
      height: 100vh;
    }
  }
}

.projects {
  background-color: $color-primary-light;
  padding-top: 3rem;
  @include respond(tab) {
    flex: 2;
    display: flex;
    justify-content: center;
  }
  &__list {
    @include respond(tab) {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      justify-content: flex-start;
      flex: 0 0 90%;
    }
  }
  &__list-item {
    margin: 3rem;
  }
}