.project-page {
  background-color: $color-secondary;
  @include respond(tab) {
    display: flex;
    min-height: 100vh;
  }
  &__header {
    color: $white;
    background-color: $color-secondary;
    @include respond(tab) {
      animation: project-page-init-header .5s ease-out;
      transition: all .3s ease-out;
      padding-top: 2rem;
      display: flex;
      justify-content: center;
      background-color: $color-primary;
      flex: 0 0 15%;
    }
  }
  &__header-info {
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include respond(tab) {
      height: 100vh;
      position: fixed;
    }
  }
  &__back {
    flex: 1;
    align-self: stretch;
    @include respond(tab) {
      align-self: unset;
      animation: project-back-rotate .3s ease-out;
    }
    .icon {
      font-size: 2rem;
      color: $white;
    }
  }
  &__profile {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__details {
    flex: 0 0 75%;
  }
}