.project-page {
  background-color: $color-secondary;
  display: flex;
  min-height: 100vh;
  &__header {
    background-color: $color-primary;
    color: $white;
    padding-top: 2rem;
    flex: 0 0 15%;
    transition: all .3s ease-out;
    animation: project-page-init-header .5s ease-out;
    display: flex;
    justify-content: center;
  }
  &__header-info {
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
  }
  &__back { 
    animation: project-back-rotate .3s ease-out;
    .icon {
      font-size: 2rem;
      color: $white;
    }
  }

  &__profile {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__details {
    flex: 0 0 75%;
  }
}