// COLORS
$color-primary: #4d4d4d;
$color-primary-light: #797979;
$color-primary-dark: #252525;

$color-secondary: #f9f9f9;
$color-secondary-light: #ffffff;
$color-secondary-dark: #c6c6c6;

$white: #ffffff;
$black: #000000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;