.social-icon {
    &,
    &:link {
        font-size: 2.5rem;
        display: inline-block;
        color: $color-primary-dark;
    }
    &:hover {
        cursor: pointer;
    }
}

a.social-icon:hover {
    cursor: pointer;
}