.projects-list {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*.project {
    padding: 1rem;
    margin-bottom: 5rem;
    transition: all .3s;
    text-decoration: none;
    color: $color-primary;
    &:hover {
        background-color: $color-secondary;
        box-shadow: 0 1px 10px $color-secondary-dark;
        cursor: pointer;
    }
    &__link {
        text-decoration: none;
        color: $color-primary;
        &:hover {
            color: $color-primary-dark;
        }
    }
    &__title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    &__img {
        margin: 1rem 0;
    }
    &__tecs {
        display: flex;
        justify-content: center;
    }
    &__tecs-item {
        &:not(:last-child) {
            margin-right: 5rem;
        }
    }
    &__tec-fig {
        text-align: center;
    }
    &__tec-img-wrapper {
        margin: 0 auto;
        width: 3rem;
        height: 3rem;
    }
    &__tec-img {
        width: 100%;
        height: 100%;
    }
    &__tec-img-caption {
        text-align: center;
    }
} */