.project {
  width: 30rem;
  height: 30rem;

  &:hover &__figure-img {
    transform: scale(1.05);
  }
  
  &__title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  &__figure {
    height: 17.5rem;
    overflow: hidden;
    background-color: rgba( $color-primary-mid, .3);

  }
  &__figure-img {
    transition: all .5s ease-out;
  }
  &__tecs {
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
  }
  &__tec {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__tec-img {
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__tec-name {
    font-size: 1.4rem;
  }
}