.profile {
  @include abs-midle-center;
  flex: 1;
  &__body {
    font-size: 1.75rem;
    @include abs-midle-center;
    @include respond(desktop) {
      font-size: 2rem;
    }
    background: lightblue;
    flex: 0 0 80%;
  }
  &__footer {
    @include abs-midle-center;
    background: pink;
    justify-content: flex-start;
    flex: 0 0 20%;
  }
  &__figure {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
  }
  &__avatar-img {
    border-radius: 100%;
  }
  &__title {
    margin-bottom: .5rem;
    text-align: center;
    &--home {
      font-size: 3rem;
      animation: profile-home-title .3s;
      @include respond(desktop) {
        font-size: 3rem;
      }
    }
    &--project {
      font-size: 2rem;
      animation: profile-project-title .3s;
      @include respond(desktop) {
        font-size: 2rem;
      }
    }
    a {
      color: inherit;
      font-size: inherit;
    }
  }
  &__subtitle {
    text-align: center;
    color: $color-primary-mid;
    transition: all .3s;
    margin-bottom: 3rem;
    &--home {
      font-size: 2rem;
      animation: profile-home-sub .3s;
      @include respond(desktop) {
        font-size: 2rem;
      }
    }
    &--project {
      font-size: 2.5rem;
      animation: profile-project-sub .3s;
      @include respond(desktop) {
        font-size: 1.5rem;
      }
    }
    a {
      color: inherit;
      font-size: inherit;
    }
  }
  &__social-media {
    margin-bottom: 3rem;
    @include respond(desktop) {
      padding-bottom: 10rem;
    }
  }
  &__social-email {
    font-size: 1.75rem;
  }
  &__projects-link {
    transform: rotateZ(270deg);
    .icon {
      color: $white;
      font-size: 3.5rem;
    }
  }
  &__projects-link-a {
    @include respond(desktop) {
      display: none;
    }
  }
  ::selection {
    background: $white;
  }
}