.profile {
  @include abs-midle-center;
  flex: 1;
  &__body {
    font-size: 1.75rem;
    @include abs-midle-center;
    flex: 0 0 75%;
    @include respond(tab) {
      font-size: 2rem;
    }
  }
  &__footer {
    @include abs-midle-center;
    justify-content: flex-start;
    flex: 0 0 25%;
    &--project {
      display: none;
      @include respond(tab) {
        display: block;
      }
    }
  }
  &__figure {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    &--project {
      display: none;
      @include respond(tab) {
        display: flex;
      }
    }
  }
  &__avatar-img {
    border-radius: 100%;
  }
  &__title {
    margin-bottom: .5rem;
    text-align: center;
    &--home {
      font-size: 3rem;
      @include respond(tab) {
        animation: profile-home-title .3s;
        font-size: 2.5rem;
      }
      @include respond(tab-land) {
        font-size: 3rem;
      }
    }
    &--project {
      font-size: 2rem;
      @include respond(tab) {
        animation: profile-project-title .3s;
        font-size: 2rem;
      }
    }
    a {
      color: inherit;
      font-size: inherit;
    }
  }
  &__subtitle {
    text-align: center;
    color: $color-primary-mid;
    transition: all .3s;
    margin-bottom: 3rem;
    &--home {
      font-size: 2rem;
      @include respond(tab) {
        animation: profile-home-sub .3s;
        font-size: 2rem;
      }
    }
    &--project {
      font-size: 2.5rem;
      @include respond(tab) {
        animation: profile-project-sub .3s;
        font-size: 1.5rem;
      }
    }
    a {
      color: inherit;
      font-size: inherit;
    }
  }
  &__social-media {
    margin-bottom: 3rem;
    display: none;
    @include respond(tab) {
      margin-bottom: 0;
      display: block;
    }
  }
  &__social-email {
    font-size: 1.4rem;
  }
  &__projects-link {
    transform: rotateZ(270deg);
    .icon {
      color: $white;
      font-size: 3.5rem;
    }
  }
  &__projects-link-a {
    @include respond(tab) {
      display: none;
    }
  }
  ::selection {
    background: $white;
  }
}