.social-media-nav {
    &__list {
        display: flex;
        justify-content: center;
    }
    &__list-item {
        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
    &__link {
        &,
        &:link {
            font-size: 2.5rem;
        }
    }
}