---
layout: default
---

<!-- <div class="home">
    <section class="home__header">
        {%- include header.html -%}
    </section>
    <section class="home__projects">
        {%- include projects-home.html -%}
    </section>
</div> -->

<main class="home">
    <header class="header">
        <div class="header__info">
            <div class="summary">
                summary
            </div>
        </div>
    </header>
    <section class="projects">
        <ul class="projects__list">
            <li class="projects__list-item">
                <div class="project">project 1</div>
            </li>
            <li class="projects__list-item">
                <div class="project">project 2</div>
            </li>
            <li class="projects__list-item">
                <div class="project">project 3</div>
            </li>
            <li class="projects__list-item">
                <div class="project">project 1</div>
            </li>
            <li class="projects__list-item">
                <div class="project">project 2</div>
            </li>
            <li class="projects__list-item">
                <div class="project">project 3</div>
            </li>
            <li class="projects__list-item">
                <div class="project">project 1</div>
            </li>
            <li class="projects__list-item">
                <div class="project">project 2</div>
            </li>
            <li class="projects__list-item">
                <div class="project">project 3</div>
            </li>
        </ul>


    </section>
</main>