---
layout: default
---



<div class="home-page">
    <header class="header">
        <div class="header__info">
            <div class="summary">
                {%- include profile.html -%}
                <div class="headers__social-media-nav">
                    {%- include social-media-nav.html -%}
                </div>
            </div>
        </div>
    </header>
    <section class="projects">
        <ul class="projects__list">
            <li class="projects__list-item">
                <div class="project">project 1</div>
            </li>
            <li class="projects__list-item">
                <div class="project">project 2</div>
            </li>
            <li class="projects__list-item">
                <div class="project">project 3</div>
            </li>
            <li class="projects__list-item">
                <div class="project">project 1</div>
            </li>
            <li class="projects__list-item">
                <div class="project">project 2</div>
            </li>
            <li class="projects__list-item">
                <div class="project">project 3</div>
            </li>
            <li class="projects__list-item">
                <div class="project">project 1</div>
            </li>
            <li class="projects__list-item">
                <div class="project">project 2</div>
            </li>
            <li class="projects__list-item">
                <div class="project">project 3</div>
            </li>
        </ul>


    </section>
</div>





<div class="project-page">
    <header class="project-page__header">
        <div class="projects-page__header-info">
            <div class="summary summary--project-page">
                summary
            </div>
        </div>
    </header>
    <section class="project-page__details">
        <h2>Projeto tal</h2>
        <div>
            <figure>
                imagem
                <img src="" alt="">
                <figcaption>
                    <div>tec</div>
                    <div>tec</div>
                    <div>tec</div>
                </figcaption>
            </figure>
            <div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ullam impedit similique nulla quam
                    necessitatibus odit temporibus dicta odio nemo enim totam sunt libero, ea maxime corrupti doloribus
                    accusamus blanditiis!
                </p>
            </div>
        </div>
    </section>
</div>














<!--
    <div class="home">
    <section class="home__header">
        {%- include header.html -%}
    </section>
    <section class="home__projects">
        {%- include projects-home.html -%}
    </section>
</div> -->