---
layout: project-details
---

<section class="project-details">
    <h2 class="project-details__title"><a href="{{page.link}}" target="_blanck">{{page.title}}</a></h2>
    <div class="project-details__body">
        <figure class="project-details__demo">
            <div class="project-details__demo-img">
                <img srcset="../{{page.demo}}" alt="">
            </div>
            <ul class="project-details__tecs">
                {% for tec in page.tecs %}
                <li class="project-details__tec">
                    {% include {{ tec.img | prepend: 'svg/' | append: '.svg' }} %}
                </li>
                {% endfor %}
            </ul>
        </figure>
        <div class="project-details__destails">
            {% for destail in page.destails %}
            <p class="project-details__paragraph">{{destail}}</p>
            {% endfor %}
        </div>
    </div>
</section>