.header-landing {
    background: $color-secondary;
    padding: 1rem 5rem;
    height: 16vh;
    display: flex;
    justify-content: space-between;
    &__nav {
        align-self: flex-end;
        display: flex;
        justify-content: flex-end;
        margin-right: 3rem;
    }
    &__nav-link {
        font-size: 2rem !important;
    }
    .header-title {
        margin-bottom: 0;
    }
    .header-subtitle {
        text-align: left;
        margin-left: 12.5rem;
        margin-bottom: 0;
    }
}