.header-landing {
    background: $color-secondary;
    padding: 1rem 1.5rem;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    @include respond(tab) {
        padding: 1rem 5rem;
        height: 12vh;
    }
    &__brand {
        display: flex;
        flex-direction: column;
    }
    &__navigation {
        width: 90%;
        position: absolute;
        display: flex;
        flex-direction: column;
        @include respond(tab-port) {
            position: relative;
            width: auto;
            align-self: flex-end;
        }
    }
    &__checkbox {
        display: none;
    }
    &__navigation-button {
        align-self: flex-end;
        margin-top: 1rem;
        z-index: 1500;
        position: absolute;
        top: 2rem;
        right: 2rem;
        @include respond(tab-port) {
            display: none;
        }
    }
    &__navigation-icon {
        position: relative;
        width: 3rem;
        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2.5px;
            background-color: $color-primary-dark;
            display: inline-block;
            transition: transform .3s;
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
        }
        &::before {
            top: 8px;
        }
        &::after {
            top: -8px;
        }
    }
    &__navigation-nav {
        background-color: $color-secondary;
        height: 70vh;
        border: 1.5px solid $gray-1;
        border-radius: 3px;
        position: fixed;
        top: -100rem;
        padding: 3.5rem 2rem 0;
        opacity: 0;
        width: 0;
        transition: all .3s;
        @include respond(tab-port) {
            background-color: transparent;
            height: auto;
            border: none;
            border-radius: 0;
            position: relative;
            top: auto;
            padding: 0;
            opacity: 1;
            width: auto;
        }
    }
    &__checkbox:checked~&__navigation-nav {
        opacity: 1;
        width: 92%;
        top: auto;
    }
    &__checkbox:checked+&__navigation-button &__navigation-icon {
        background-color: transparent;
    }
    &__checkbox:checked+&__navigation-button &__navigation-icon::before {
        top: 0;
        transform: rotate(135deg);
    }
    &__checkbox:checked+&__navigation-button &__navigation-icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
    &__nav-link {
        font-size: 1.5rem !important;
    }
    .header-title {
        font-size: 2rem;
        @include respond(tab) {
            margin-bottom: 0;
            font-size: 2.5rem;
        }
    }
    .header-subtitle {
        font-size: 1.3rem;
        align-self: flex-start;
        margin-bottom: 0;
        @include respond(tab) {
            align-self: flex-end;
            font-size: 1.5rem;
        }
    }
}