.project-layout {
    &__body {
        padding: 0 1rem;
        margin: 3rem 0;
        min-height: 80vh;
        @include respond(tab) {
            padding: 0 5rem;
        }
    }
    &__details {
        margin: 2rem auto 0;
        @include respond(tab) {
            margin: 2rem 5rem 0;
        }
    }
}

.project-details {
    &__description {}
    &__func {
        margin-top: 2rem;
        margin-bottom: 3rem;
        @include respond(phone) {}
        @include respond(tab) {
            display: flex;
        }
    }
    &__func-demo {
        margin-bottom: 2rem;
        text-align: center;
        @include respond(tab) {
            flex-grow: 1;
            text-align: center;
            display: flex;
            justify-content: center;
            margin-bottom: 0;
        }
    }
    &__func-demo-img {
        width: 100%;
    }
    &__func-tecs {
        display: flex;
        justify-content: space-around;
        @include respond(tab) {
            border-left: 1px solid $color-secondary-dark;
            margin-left:3rem;
            padding: 0 3rem;
            flex-direction: column;
        }
    }
    &__tecs-item {
        display: flex;
    }
    &__tec {
        display: flex;
        flex-direction: column;
    }
    &__tec-img-wrapper {
        width: 5rem;
        flex-grow: 1;
    }
    &__tec-img {
        width: 100%;
    }
    &__tec-img-caption {
        text-align: center;
    }
}