@keyframes from-left {
  0% {
    transform: translateX(-100rem)
  }
  50% {
    transform: translateX(-50rem);
  }
  100% {
    transform: translateX(0);
  }
}


@keyframes home-page-init-header {
  0% {
    flex: 0;
  }
  100% {
    flex: 1;
  }
}

@keyframes project-page-init-header {
  0% {
    flex: 0 0 33.33%;
  }
  100% {
    flex: 0 0 15%;
  }
}