*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: smooth;
    
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
}


body {
    background-color: $color-secondary-light;
    box-sizing: border-box;
}

::selection {
    background-color: $color-primary;
    color: $white;
}

ul {
    list-style: none;
}

a {
    &,
    &:link {
        color: $color-primary;
        font-size: 1.5rem;
        text-decoration: none;
        transition: all .5s;
    }
    &:hover {
        cursor: pointer;
        color: $color-primary-dark;
    }
}